.no-point-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.text-size {
    width: 1em;
    height: 1em;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}
.slider {
    display: block;
}